* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, "Helvetica Neue", sans-serif, "Mier Book";
}

#screen {
    width: 100%;
    /* border: 2px solid black; */
}

#nav {
    width: 100%;
    height: 125px;
    /* border: 1px solid red; */
}

#navbar1 {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgb(179, 179, 195);
    /* border: 1px solid blue; */
    position: fixed;
    top: 0;
}

#inside_nav1 {
    width: 90%;
    height: 100%;
    /* border: 1px solid green; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 10%;
    height: 55px;
    /* border: 1px solid black; */
    padding-top: 9px;
    align-items: center;
}
#logo>div>a{
    text-decoration: none;
    color: none;
}

#logo>div>h1 {
    /* width: 100%;
    height: 40px; */
    color: rgb(87, 13, 72);
}

/* #logo>div>img{
    width: 100%;
    height: 100%;
} */
#search {
    width: 35%;
    height: 55px;
    /* border: 1px solid black; */
    /* align-items: center; */
}

#inner_search {
    width: 90%;
    height: 90%;
    border: 1px solid rgb(179, 179, 195);
    border-radius: 10px;
    margin: 3px 20px;
    align-items: center;
    display: flex;
    /* justify-content: space-around; */
}

#icon {
    width: 40px;
    height: 70%;
    /* border: 1px solid green; */
    padding: 9px 10px;
    margin-left: 10px;
}

#sbox {
    width: 300px;
    height: 70%;
    /* border: 1px solid green; */
    padding: 10px 10px;
}

input {
    width: 250px;
    border: none;
    outline: none;
}

#profile {
    width: 50%;
    height: 55px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

#profile>div {
    border-right: 1px solid rgb(179, 179, 195);
}

#app {
    width: 16%;
    height: 100%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    padding-left: 5px;
}

#app>div:nth-child(1) {
    padding-right: 10px;
}

#supplier {
    width: 16%;
    height: 100%;
    /* border: 1px solid green; */
    padding-top: 10px;
}

#pro {
    width: 16%;
    height: 100%;
    /* border: 1px solid green; */
}

#pro>div>i {
    padding: 15px 80px;
    color: rgb(179, 179, 195);
}

#pro>div>p {
    text-align: center;
}
#pro>a{
    text-decoration: none;
    /* color: rgb(179, 179, 195);; */
}
#pro>a>div>p{
    color: black;
}
#cart {
    width: 16%;
    height: 100%;
    /* border: 1px solid green; */
}

#cart>div>i {
    padding: 10px 35px;
    color: rgb(179, 179, 195);
}

#cart>div>p {
    text-align: center;
}

#navbar2 {
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgb(179, 179, 195);
        position: fixed;
    top: 70px;
}

#inside_nav2 {
    width: 90%;
    height: 100%;
    /* border: 1px solid green; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inside_nav2>p>a {
    text-decoration: none;
    color: black;
}

#main_body {
    width: 100%;
    height: 100%;
    border: 1px solid red;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

#left{
    width: 45%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    
}
#left1{
    width: 25%;
    height: 500px;
    border: 1px solid green;
}
#left1>div{
    width: 50%;
    height: 20%;
    border: 1px solid blue;
    margin: auto;
    margin-top: 10px;
}
#left1>div>img{
    width: 100%;
    height: 100%;
}
#left2{
    width: 60%;
    height: 10%;
    border: 1px solid green;
    margin-top: 10px;
}
#left2>img{
    width: 100%;
    height: 100%;
}
#right{
    width: 50%;
    height: 100%;
    border: 1px solid black;
}
#right>div{
    margin: auto;
    margin-bottom: 20px;
}
#right1{
    width: 60%;
    border: 1px solid blue;
    padding-left: 10px;
    line-height: 35px;
    /* margin-top: 10px; */

}
#right2{
    width: 60%;
    border: 1px solid blue;
}
#right2>h2{
    padding: 10px 10px;
}
#sizechart{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    
}
#sizechart>div{
    width: 10%;
    /* height: 60%; */
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}
#right3{
    width: 60%;
    border: 1px solid blue;
    
}