#rating-section {
    display: flex;
  }
  #rating-section span {
    font-size: 0.8em;
    padding-top: 1%;
    padding-left: 1%;
  }
  #rating-p {
    color: white;
    background-color: #23bb75;
    width: 12%;
    height: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 2%;
    margin-bottom: 2%;
  }
  
  #rating-p > i {
    padding-left: 10%;
  }
  
  #rating-p span {
    color: grey;
    width: 55%;
    border: 1px solid red;
  }
  #reviews-section {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #review-left {
    /* border: 1px solid blue; */
    width: 25%;
    padding-top: 8%;
    padding-left: 2%;
  }
  
  #review-ratings-section {
    display: flex;
    align-items: center;
    padding: 5%;
  }
  
  #review-left > p {
    font-size: 0.7em;
    color: grey;
    padding-left: 5%;
  }
  #review-ratings-section > p {
    font-weight: bolder;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #038d63;
  }
  #review-right {
    width: 70%;
    /* border: 1px solid orange; */
  }
  
  .color-ratings {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green; */
    padding: 2% 0;
  }
  .color-ratings > p:nth-child(1) {
    width: 20%;
    /* border: 1px solid yellow; */
    font-size: 0.8em;
    text-align: end;
  }
  .color-ratings > p:nth-child(3) {
    width: 15%;
    font-size: 0.8em;
    /* border: 1px solid yellow; */
  }
  #excellent-rating {
    width: 50%;
    height: 6px;
    background-color: rgb(209, 206, 206);
    border-radius: 5px;
  }
  #excellent-rating > div {
    width: 80%;
    height: 100%;
    background-color: #06a759;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  #very-good-rating {
    width: 50%;
    height: 6px;
    background-color: rgb(209, 206, 206);
    border-radius: 5px;
  }
  #very-good-rating > div {
    width: 60%;
    height: 100%;
    background-color: #06a759;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #good-rating {
    width: 50%;
    height: 6px;
    background-color: rgb(209, 206, 206);
    border-radius: 5px;
  }
  #good-rating > div {
    width: 40%;
    height: 100%;
    background-color: orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #average-rating {
    width: 50%;
    height: 6px;
    background-color: rgb(209, 206, 206);
    border-radius: 5px;
  }
  #average-rating > div {
    width: 15%;
    height: 100%;
    background-color: rgb(255, 115, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  #poor-rating {
    width: 50%;
    height: 6px;
    background-color: rgb(209, 206, 206);
    border-radius: 5px;
  }
  #poor-rating > div {
    width: 25%;
    height: 100%;
    background-color: red;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  